body::-webkit-scrollbar {
    width: 5px; 
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
    background-color: #4598d7; 
    border-radius: 4px; 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
::selection {
    background-color: rgb(220, 220, 220);
}
/* Light mode styles */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}
/* Dark mode styles */
.dark-mode {
    background-color: rgb(15 23 42);
    color: #ffffff;
}

